body {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: #0181eb;
}

.navbar-default {
  background-color: #0181eb;
  border-color: #0181eb;
}

.navbar-default .navbar-collapse
.navbar-default .navbar-form,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {{
  background-color: #0F53EB;
}

a:hover,
a:focus {
  color: #0F53EB;
}

.btn-primary {
  background-color: #0181eb;
  border-color: #0F53EB;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-color: #0F53EB;
  border-color: #0F53EB;
}

.social-media-connect-links li a {
  color: #333333;
}

.social-media-connect-links li a:hover {
  color: #0F53EB;
}

.navbar-brand {
  width: 200px;
  float: left;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand a {
  color: #ffffff;
}

@media (min-width: 992px) {
  ul.menu--main {
    float: right;
  }
}

@media (min-width: 768px) {
  ul.menu--main {
    float: right;
  }
}

article .field--name-field-tags .field--items > .field--item {
  display: inline;
}

article.full .author,
article.full .field--name-field-tags {
  padding: 0 0 10px 0;
}

.region-sidebar-first {
  word-wrap: break-word;
}

.social-media-connect-links {
  padding: 0px;
}

.social-media-connect-links li {
  list-style: none;
  display: inline-block;
}

.social-media-connect-links li a > i{
  font-size: 36px;
}

.field--label-inline .field--items,
.field--label-inline .field--label,
.field--label-inline >.field--item {
  display: inline-block;
  float: none;
}
